/*All Fonts And Basic reset*/
@import url('fonts.css');

* {
    margin: 0;
    padding: 0;
}

body {
    background: url(../images/bg_circle_up.png) no-repeat center center fixed #161924;
    -webkit-background-size: 50%;
    -moz-background-size: 50%;
    -o-background-size: 50%;
    background-size: 50%;
}

body,
#slider,
.wrap,
.slide-content {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.wrap {
    position: relative;
}

.wrap {
    background: url(../images/star.png) no-repeat center center fixed;
    -webkit-background-size: 30%;
    -moz-background-size: 30%;
    -o-background-size: 30%;
    background-size: 30%;
}

.slide {
    background-size: 29%;
    background-position: center bottom;
    background-repeat: no-repeat;
}

.slide1 {
    background-image: url("../images/player.png");
}

/*.slide2 {*/
/*background-image: url("");*/
/*}*/
/*.slide3 {*/
/*background-image: url("");*/
/*}*/
.slide-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.slide-content span {
}

.arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -35px;
    color: #fff;
    font-size: 12px;

}

#arrow-left {
    left: 0;
    margin-left: 50px;
    text-transform: uppercase;
    font-family: 'Avenir', sans-serif;
    letter-spacing: 2px;
}

#arrow-left span {
    font-size: 36px;
    position: relative;
    padding-right: 10px;
    top: 5px;
}

#arrow-right {
    right: 0;
    margin-right: 50px;
    text-transform: uppercase;
}

#arrow-right h1 {
    color: #39344d;
    font-size: 60px;
    font-style: italic;
    font-family: 'Futura Oblique', sans-serif;
    margin-bottom: -5px;
    text-align: right;

}

#arrow-right span {
    letter-spacing: 3px;
    font-style: italic;
    color: #d2d2d2;
}

.portion1 {
    position: absolute;
    left: 30px;
    top: 30px;
}

.portion1 img {
    width: 60%;
}

.portion2 {
    position: absolute;
    right: 30px;
    top: 30px;
}

.top_navarea {

}

.top_nav {
    margin-top: 30px;
}

.top_nav ul {
    margin: 0;
    padding: 0;
    display: block;
    float: right;
}

.top_nav li {
    list-style: none;
    float: left;
    margin-right: 120px;
}

.top_nav li:last-child {
    margin-right: 20px;
}

.top_nav a {
    color: #ffffff;
    font-family: 'Avenir', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    padding-bottom: 10px;
}

.top_nav a:hover {
    border-bottom: 2px solid #f8981d;
}

/* =================================
    For Bottom Navigation
   ================================= */
.bottom_nav_area {
    position: absolute;
    bottom: 5%;
    left: 35%;
}

.bottom_nav ul {
    margin: 0;
    padding: 0;
    display: block;
}

.bottom_nav li {
    list-style: none;
    float: left;
    margin-right: 120px;
}

.bottom_nav a {
    color: #ffffff;
    text-decoration: none;
    font-family: "Futura Std", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.bottom_nav a:hover {
    border-bottom: 2px solid #f8981d;

}
.active{
    position: relative;
}
.bottom_nav li::after {
    content: '*';
    position: absolute;
    top:-20px;
    font-size: 35px;
    left:42%;
    width:40px;
    height:40px;
    color:#f8981d;
}
.bottom_nav li:nth-child(1)::after {
    content: '*';
    position: absolute;
    top:-20px;
    font-size: 35px;
    left:35%;
    width:40px;
    height:40px;
    color:#f8981d;
}
.bottom_nav li:nth-child(2)::after {
    content: '*';
    position: absolute;
    top:-20px;
    font-size: 35px;
    left:35%;
    width:40px;
    height:40px;
    color:#f8981d;
}

/* =================================
              For Main Footer
   ================================= */
.main_footer {
    position: absolute;
    bottom: 20px;
    right: 30px;
}

.main_footer small {
    font-size: 10px;
    color: #4e4954;
    font-family: 'Avenir', sans-serif;
}


/* =================================
           For All Media Query
   ================================= */

@media only screen and (max-width: 575px) {
    body {
        background: url(../images/bg_circle_up.png) no-repeat center center fixed #161924;
        -webkit-background-size: 95%;
        -moz-background-size: 95%;
        -o-background-size: 95%;
        background-size: 95%;
    }

    .wrap {
        background: url(../images/star.png) no-repeat center center fixed;
        -webkit-background-size: 95%;
        -moz-background-size: 95%;
        -o-background-size: 95%;
        background-size: 95%;
    }

    .slide {
        background-size: 82%;
        background-position: center bottom;
        background-repeat: no-repeat;
    }

    .bottom_nav_area {
        position: absolute;
        bottom: 5%;
        left: 5%;
    }
}



@media only screen and (max-width: 767px) {
    body {
        background: url(../images/bg_circle_up.png) no-repeat center center fixed #161924;
        -webkit-background-size: 95%;
        -moz-background-size: 95%;
        -o-background-size: 95%;
        background-size: 95%;
    }

    .wrap {
        background: url(../images/star.png) no-repeat center center fixed;
        -webkit-background-size: 95%;
        -moz-background-size: 95%;
        -o-background-size: 95%;
        background-size: 95%;
    }

    .slide {
        background-size: 82%;
        background-position: center bottom;
        background-repeat: no-repeat;
    }

    .bottom_nav_area {
        position: absolute;
        bottom: 5%;
        left: 5%;
    }

}

@media only screen and (max-width: 991px) {

    body {
        background: url(../images/bg_circle_up.png) no-repeat center center fixed #161924;
        -webkit-background-size: 90%;
        -moz-background-size: 90%;
        -o-background-size: 90%;
        background-size: 90%;
    }

    .wrap {
        background: url(../images/star.png) no-repeat center center fixed;
        -webkit-background-size: 80%;
        -moz-background-size: 80%;
        -o-background-size: 80%;
        background-size: 80%;
    }

    .slide {
        background-size: 85%;
        background-position: center bottom;
        background-repeat: no-repeat;
    }

    .bottom_nav_area {
        position: absolute;
        bottom: 5%;
        left: 10%;
    }

}

@media only screen and (max-width: 1199px) {

    body {
        background: url(../images/bg_circle_up.png) no-repeat center center fixed #161924;
        -webkit-background-size: 90%;
        -moz-background-size: 90%;
        -o-background-size: 90%;
        background-size: 90%;
    }

    .wrap {
        background: url(../images/star.png) no-repeat center center fixed;
        -webkit-background-size: 80%;
        -moz-background-size: 80%;
        -o-background-size: 80%;
        background-size: 80%;
    }

    .slide {
        background-size: 92%;
        background-position: center bottom;
        background-repeat: no-repeat;
    }

    .bottom_nav_area {
        position: absolute;
        bottom: 5%;
        left: 10%;
    }

}

/* Medium Devices, Desktops */















